<mat-toolbar color="primary" class="toolbar">
    <span>My App</span>
    <div class="spacer"></div>
    <div class="button-dashboard">
        <button mat-fab color="warn" aria-label="Button for dashboard" routerLink="/dashboard">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class="button-products">
        <button mat-fab color="warn" aria-label="Button for products" routerLink="/products">
            <mat-icon>shopping_bag</mat-icon>
        </button>
    </div>
    <div class="spacer"></div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
