.productsControls{
  margin: 25px;
}

.counter {
  text-align: center;
}

.action_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

