<p>Name:</p>
<input type="string" [(ngModel)]="name">
<p>Precio:</p>
<input type="number" [(ngModel)]="price">

<button (click)="write()">Add</button>

<div class="contenedorProductos">
    <mat-grid-list *ngFor="let item of products" cols="2">
        <mat-grid-tile>
            <mat-card class="producto">
                <mat-card-header>
                    <mat-card-title>Product: {{item.payload.doc.data().name}}</mat-card-title>
                    <mat-card-subtitle>Price: {{item.payload.doc.data().price}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{item.payload.doc.data().img}}" alt="Imagen Producto">
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>